<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

      <servlet>
          <servlet-name>login</servlet-name>
          <servlet-class>com.servlet.LoginServlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>login</servlet-name>
          <url-pattern>/login</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>logon_1</servlet-name>
          <servlet-class>com.servlet.Logon_1_Servlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>logon_1</servlet-name>
          <url-pattern>/logon_1</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>logon_2</servlet-name>
          <servlet-class>com.servlet.Logon_2_Servlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>logon_2</servlet-name>
          <url-pattern>/logon_2</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>logon_3</servlet-name>
          <servlet-class>com.servlet.Logon_3_Servlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>logon_3</servlet-name>
          <url-pattern>/logon_3</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>admin_login</servlet-name>
          <servlet-class>com.servlet.Admin_Login_Servlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>admin_login</servlet-name>
          <url-pattern>/admin_login</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>findPsd</servlet-name>
          <servlet-class>com.servlet.FindPsdServlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>findPsd</servlet-name>
          <url-pattern>/findPsd</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>chooseType</servlet-name>
          <servlet-class>com.servlet.ChooseTypeServlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>chooseType</servlet-name>
          <url-pattern>/chooseType</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>type</servlet-name>
          <servlet-class>com.servlet.TypeServlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>type</servlet-name>
          <url-pattern>/type</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>changeHead</servlet-name>
          <servlet-class>com.servlet.ChangeHeadServlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>changeHead</servlet-name>
          <url-pattern>/changeHead</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>changePassword</servlet-name>
          <servlet-class>com.servlet.ChangePasswordServlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>changePassword</servlet-name>
          <url-pattern>/changePassword</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>admin_user</servlet-name>
          <servlet-class>com.servlet.Admin_User_Servlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>admin_user</servlet-name>
          <url-pattern>/admin_user</url-pattern>
      </servlet-mapping>

      <servlet>
        <servlet-name>upblog</servlet-name>
        <servlet-class>com.servlet.UpBlogServlet</servlet-class>
      </servlet>
      <servlet-mapping>
        <servlet-name>upblog</servlet-name>
        <url-pattern>/upblog</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>uplog</servlet-name>
          <servlet-class>com.servlet.UpLogServlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>uplog</servlet-name>
          <url-pattern>/uplog</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>admin_findpsd</servlet-name>
          <servlet-class>com.servlet.Admin_Findpsd_Servlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>admin_findpsd</servlet-name>
          <url-pattern>/admin_findpsd</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>blog_content</servlet-name>
          <servlet-class>com.servlet.Blog_Content_Servlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>blog_content</servlet-name>
          <url-pattern>/blog_content</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>blog_delete</servlet-name>
          <servlet-class>com.servlet.Blog_Delete_Servlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>blog_delete</servlet-name>
          <url-pattern>/blog_delete</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>blog_update</servlet-name>
          <servlet-class>com.servlet.Blog_Update_Servlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>blog_update</servlet-name>
          <url-pattern>/blog_update</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>updateblog</servlet-name>
          <servlet-class>com.servlet.UpdateBlogServlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>updateblog</servlet-name>
          <url-pattern>/updateblog</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>collect</servlet-name>
          <servlet-class>com.servlet.CollectServlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>collect</servlet-name>
          <url-pattern>/collect</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>collected</servlet-name>
          <servlet-class>com.servlet.CollectedServlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>collected</servlet-name>
          <url-pattern>/collected</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>upcommit</servlet-name>
          <servlet-class>com.servlet.UpCommitServlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>upcommit</servlet-name>
          <url-pattern>/upcommit</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>collect_delete</servlet-name>
          <servlet-class>com.servlet.Collect_Delete_Servlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>collect_delete</servlet-name>
          <url-pattern>/collect_delete</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>commit_delete</servlet-name>
          <servlet-class>com.servlet.Commit_Delete_Servlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>commit_delete</servlet-name>
          <url-pattern>/commit_delete</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>admin_type_insert</servlet-name>
          <servlet-class>com.servlet.Admin_Type_Insert_Servlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>admin_type_insert</servlet-name>
          <url-pattern>/admin_type_insert</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>admin_type_delete</servlet-name>
          <servlet-class>com.servlet.Admin_Type_Delete_Servlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>admin_type_delete</servlet-name>
          <url-pattern>/admin_type_delete</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>admin_role</servlet-name>
          <servlet-class>com.servlet.Admin_Role_Servlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>admin_role</servlet-name>
          <url-pattern>/admin_role</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>be_admin</servlet-name>
          <servlet-class>com.servlet.Be_Admin_Servlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>be_admin</servlet-name>
          <url-pattern>/be_admin</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>focus</servlet-name>
          <servlet-class>com.servlet.FocusServlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>focus</servlet-name>
          <url-pattern>/focus</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>message</servlet-name>
          <servlet-class>com.servlet.MessageServlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>message</servlet-name>
          <url-pattern>/message</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>writeMessage</servlet-name>
          <servlet-class>com.servlet.WriteMessageServlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>writeMessage</servlet-name>
          <url-pattern>/writeMessage</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>userFocus_cancel</servlet-name>
          <servlet-class>com.servlet.UserFocus_Cancel_Servlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>userFocus_cancel</servlet-name>
          <url-pattern>/userFocus_cancel</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>message_content</servlet-name>
          <servlet-class>com.servlet.Message_Content_Servlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>message_content</servlet-name>
          <url-pattern>/message_content</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>message_readed</servlet-name>
          <servlet-class>com.servlet.Message_Readed_Servlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>message_readed</servlet-name>
          <url-pattern>/message_readed</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>message_delete</servlet-name>
          <servlet-class>com.servlet.Message_Delete_Servlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>message_delete</servlet-name>
          <url-pattern>/message_delete</url-pattern>
      </servlet-mapping>

      <servlet>
          <servlet-name>refresh_hobby</servlet-name>
          <servlet-class>com.servlet.Refresh_Hobby_Servlet</servlet-class>
      </servlet>
      <servlet-mapping>
          <servlet-name>refresh_hobby</servlet-name>
          <url-pattern>/refresh_hobby</url-pattern>
      </servlet-mapping>



      <filter>
          <filter-name>chineseFilter</filter-name>
          <filter-class>com.filter.ChineseFilter</filter-class>
      </filter>
      <filter-mapping>
          <filter-name>chineseFilter</filter-name>
          <url-pattern>/*</url-pattern>
      </filter-mapping>



</web-app>
